<% action = (user.persisted? ? user_url(user) : signup_url) %>
<% method = (user.persisted? ? "patch" : "post") %>
<% submit_message = (user.persisted? ? "Update" : "Create") %>

<form action="<%= action %>" method="post">
  <input
     name="_method"
     type="hidden"
     value="<%= method %>">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <table>
    <thead>
      <tr>
        <td>Please choose a username and password:</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Username</td>
        <td><input type="text" name="user[username]" id="user_username"></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" name="user[password]" id="user_password"></td>
      </tr>
      <tr>
        <td><input type="submit" value="<%= submit_message %>"></td>
      </tr>
    </tbody>
  </table>
</form>