<table>
  <thead>
    <tr>
      <th>Cat Requested:</th>
      <% @cat = Cat.find_by(id: @cat_rental.cat_id) %>
      <th><%= @cat.name %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Start Date:</td>
      <td><%= @cat_rental.start_date %></td>
    </tr>
    <tr>
      <td>End Date:</td>
      <td><%= @cat_rental.end_date %></td>
    </tr>
  </tbody>
</table>